@import "../components/global/layout.scss";

.contact {
  .contact-content {
    .page-section.contact-content-wrapper {
      padding-top: 0;

      .container {
        .contact-content-blurb {
          text-align: center;
        }

        .contact-content-form-wrapper {
          .contact-content-form {
            width: 100%;
            margin-top: 2rem;

            .contact-content-form-group {
              margin-bottom: 0.7rem;

              .contact-content-form-label {
                display: block;
              }

              .contact-content-form-input,
              .contact-content-form-message {
                width: 100%;
                border: 1px solid #aaa;
                padding: 0.2rem;
              }

              .contact-content-form-submit {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 700px) {
  .contact {
    .contact-content {
      .page-section.contact-content-wrapper {
        .container {
          .contact-content-blurb {
            p {
              padding: 0 8rem;
            }
          }

          .contact-content-form-wrapper {
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            .contact-content-image-wrapper {
              width: 100%;
            }

            .contact-content-form {
              width: 100%;
              margin: 0;
              padding: 0 2rem;

              .contact-content-form-label {
                font-size: 0.9rem;
              }
              .contact-content-form-input::placeholder,
              .contact-content-form-message::placeholder {
                font-size: 0.8rem;
              }
            }
          }
        }
      }
    }
  }
}
