@import "../components/global/layout.scss";

.portfolio {
  .portfolio-content {
    .page-section.portfolio-content-gallery {
      padding-top: 0;
      padding-bottom: 0;

      .portfolio-content-gallery-images {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .portfolio-content-gallery-images-image-wrapper {
          min-width: 300px;
          padding: 0.5rem;
          cursor: pointer;

          img {
            -webkit-backface-visibility: hidden;
            -webkit-transform: translateZ(0) scale(1, 1);
          }

          img:hover {
            filter: grayscale(70%);
            transform: scale(1.05);
          }
        }
      }
    }
  }
}
