@import "./global/layout.scss";

.slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 400px;

  .slider-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    padding: 2rem;
    width: 80%;

    * {
      color: #fff;
    }
  }

  .slider-slides {
    .slider-slide {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 0.7s ease-in-out;
    }

    .slider-slide.slider-current {
      opacity: 1;
    }

    // Background images
    .slider-slide:first-child {
      background: url("../../content/assets/hero/kitchen-01-hero.jpg") no-repeat
        center center/cover;
    }
    .slider-slide:nth-child(2) {
      background: url("../../content/assets/hero/kitchen-02-hero.jpg") no-repeat
        center center/cover;
    }
    .slider-slide:nth-child(3) {
      background: url("../../content/assets/hero/kitchen-03-hero.jpg") no-repeat
        center center/cover;
    }
    .slider-slide:nth-child(4) {
      background: url("../../content/assets/hero/kitchen-04-hero.jpg") no-repeat
        center center/cover;
    }
    .slider-slide:nth-child(5) {
      background: url("../../content/assets/hero/kitchen-05-hero.jpg") no-repeat
        center center/cover;
    }
  }

  .slider-buttons {
    .slider-buttons-prev,
    .slider-buttons-next {
      border: 2px solid #fff;
      border-radius: 50%;
      background-color: transparent;
      color: #fff;
      cursor: pointer;
      padding: 0 10px;
      outline: none;
    }

    .slider-buttons-prev:hover,
    .slider-buttons-next:hover {
      background-color: #fff;
      color: $primary-color;
    }

    .slider-buttons-prev {
      position: absolute;
      top: 50%;
      left: 15px;
    }

    .slider-buttons-next {
      position: absolute;
      top: 50%;
      right: 15px;
    }
  }
}

@media (min-width: 600px) {
  .slider {
    .slider-content {
      width: 60%;
    }
  }
}

@media (min-width: 700px) {
  .slider {
    height: 576px;

    .slider-content {
      max-width: 600px;
    }
  }
}
