@import "../global/layout.scss";

.location {
  background-color: $light-grey;
  text-align: center;

  .container {
    .location-content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;

      .location-content-address {
        width: 100%;
        margin-bottom: 2rem;

        .location-content-address-detail {
          margin: 0;
        }
        .location-content-address-detail:last-of-type {
          margin: 1rem 0;
        }
      }

      .location-content-map {
        width: 100%;
      }
    }
  }
}

@media (min-width: 500px) {
  .location {
    .container {
      .location-content {
        .location-content-map {
          padding: 0 2rem;
        }
      }
    }
  }
}

@media (min-width: 700px) {
  .location {
    .container {
      .location-content {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;

        .location-content-address {
          margin-bottom: 0;

          .page-section-header {
            font-size: 1.2rem;
          }
          .page-section-header:after {
            width: 50%;
          }
        }

        .location-content-map {
          .location-content-map-image {
            max-width: 680px;
          }
        }
      }
    }
  }
}
